@model IEnumerable<ApprovedProductToSale>

@if (!Model.Any())
{
    <h1>No Available Products</h1>
}
else
{
<div>
    @foreach (var product in Model)
    {
    <div>
        <img src="" alt="Product Image" width="350" height="350" style="height: 350px" />
        <h4>@product.Name</h4>
        <p>Price: @product.Amount</p>

        <div>
            <button class="btn btn-success">Add to cart</button>
        </div>
    </div>
    }
</div>
}